.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100vh;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.title {
    font-size: 2em;
    margin: 0 0 8px;
    font-family: "KyivType Sans", "Arial", sans-serif;
}